<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Font-->
    <!-- <link rel="stylesheet" type="text/css" href="/css/nunito-font.css"> -->
    <!-- Main Style Css -->
    <%- include("cdn/style.ejs") -%>
        <link rel="stylesheet" href="/chat.css" />
        <!-- <link rel="stylesheet" href="/style.css" /> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
        <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
        <script>
            const CHAT_ID = "<%= chatId %>";
            const user="<%= name %>"
          </script>
</head>

<body>
    <div class="page-content page-container" id="page-content" style="background-color: var(--main-dark)">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="card card-bordered">
                        <div class="card-header">
                            <h4 class="card-title"><strong><%= name %></strong></h4>
                            <!-- <div id="showChat" class="options__button"> -->
                                <a href="/call"><i class="fa fa-video-camera"></i></a>
                              <!-- </div> -->
                        </div>
                        <div class="ps-container ps-theme-default ps-active-y" id="chat-content"
                            style="overflow-y: scroll !important; height:400px !important;">
                            <!-- <div class="media media-chat"> <img class="avatar"
                                    src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                                <div class="media-body">
                                    <p>Hi</p>
                                    <p>How are you ...???</p>
                                    <p>What are you doing tomorrow?<br> Can we come up a bar?</p>
                                    <p class="meta"><time datetime="2018">23:58</time></p>
                                </div>
                            </div>
                            <div class="media media-meta-day">Today</div>
                            <div class="media media-chat media-chat-reverse">
                                <div class="media-body">
                                    <p>Hiii, I'm good.</p>
                                    <p>How are you doing?</p>
                                    <p>Long time no see! Tomorrow office. will be free on sunday.</p>
                                    <p class="meta"><time datetime="2018">00:06</time></p>
                                </div>
                            </div>
                            <div class="media media-chat"> <img class="avatar"
                                    src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                                <div class="media-body">
                                    <p>Okay</p>
                                    <p>We will go on sunday? </p>
                                    <p class="meta"><time datetime="2018">00:07</time></p>
                                </div>
                            </div>
                            <div class="media media-chat media-chat-reverse">
                                <div class="media-body">
                                    <p>That's awesome!</p>
                                    <p>I will meet you Sandon Square sharp at 10 AM</p>
                                    <p>Is that okay?</p>
                                    <p class="meta"><time datetime="2018">00:09</time></p>
                                </div>
                            </div>
                            <div class="media media-chat"> <img class="avatar"
                                    src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                                <div class="media-body">
                                    <p>Okay i will meet you on Sandon Square </p>
                                    <p class="meta"><time datetime="2018">00:10</time></p>
                                </div>
                            </div>
                            <div class="media media-chat media-chat-reverse">
                                <div class="media-body">
                                    <p>Do you have pictures of Matley Marriage?</p>
                                    <p class="meta"><time datetime="2018">00:10</time></p>
                                </div>
                            </div>
                            <div class="media media-chat"> <img class="avatar"
                                    src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                                <div class="media-body">
                                    <p>Sorry I don't have. i changed my phone.</p>
                                    <p class="meta"><time datetime="2018">00:12</time></p>
                                </div>
                            </div>
                            <div class="media media-chat media-chat-reverse">
                                <div class="media-body">
                                    <p>Okay then see you on sunday!!</p>
                                    <p class="meta"><time datetime="2018">00:12</time></p>
                                </div>
                            </div> -->
                            <div class="messages">
                            </div>
                            <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
                                <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                            </div>
                            <div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
                                <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
                            </div>
                        </div>
                        <div class="publisher bt-1 border-light"> <img class="avatar avatar-xs"
                                src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                            <!-- <input class="publisher-input" type="text" placeholder="Write something"> <span
                                class="publisher-btn file-group"> <i class="fa fa-paperclip file-browser"></i> -->
                                <!-- <input type="file"> </span> <a class="publisher-btn" href="#" data-abc="true"><i
                                    class="fa fa-smile"></i></a> <a class="publisher-btn text-info" href="#"
                                data-abc="true"><i class="fa fa-paper-plane"></i></a> -->
                                <input id="chat_message" type="text" autocomplete="off" placeholder="Type message here..." style="width:100%">
                                <div id="send" class="options__button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/chat.js"></script>
</html>